.container {
  padding: 4px;
}

.filter {
  margin-right: 8px;
  flex-grow: 1;
}

.toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.scrollable {
  overflow-y: auto;
  height: calc(100vh - 144px);
  scrollbar-width: 0
}

*::-webkit-scrollbar {
  width: 0;
}
