.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
    display: grid;
    place-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }
